<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeaStar Hotel</title>
</head>
<body>
    {% extends "layout.html" %}

    {% block content %}
    <div class="mainbody">
        <h2>Welcome User</h2><br>
        <p>SeaStar Hotel provides a beautiful ambience for nature lovers!</p>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Sed tenetur laborum, eaque fugit inventore tempore nobis
            dolorum ex doloribus voluptatem, nesciunt molestiae laudantium
            usto.</p>
    </div>  
    {% endblock %}
</body>
</html>