<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename = "style.css")}}">
    <title>URL-Shortener</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" style="margin-left: 180px;"><b>urlX</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto" style="margin-right: 260px;">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('show_homepage') }}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
        </div>
      </nav>

      <div class="content-section">
        <form action="" method = "POST">
          <div class="form-group">
            {{ form.url.label(class="form-control-label") }}
            {{ form.url(class="form-control form-control-lg")}}
          </div>
          <div class="form-group">
            {{ form.keyword.label(class="form-control-label") }}
            {{ form.keyword(class="form-control form-control-lg")}}
          </div>
          <div class="form-group">
            {{ form.submit(class="btn btn-info") }}
          </div>
        </form>
        <div class="answerbox">
          {% if data %}
          {% if info %}
          <p>{{ info }}</p>
          {% endif %}
          <input type="text" value="{{ data }}" id="textInput" style="width: 100%">
          {% else %}
          <p>Fill the form and hit submit to get the short URL.</p>
          {% endif %}
          <br>
          <button onclick="copyText()" class="btn btn-info">Copy text</button>
        </div>
      </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script>
          function copyText(){
              var text = document.getElementById("textInput");
              text.select();
              document.execCommand("copy");
              alert("Copied the text: " + text.value);
          }
          </script>
</body>
</html>