.content-section{
    margin-top: 70px;
    margin-left: 260px;
    margin-right: 260px;
}
.answerbox{
    margin-top: 20px;
    background-color: #D3D3D3;
    height: auto;
    width: 100%;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
}