<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PotroLipi</title>
</head>
<body>
    {% extends "layout.html" %}
    {% block content %}
        <div class="mainpage">
            <h2>Oops! Page Not Found! (404)</h2>
            <p style="text-align: center;">That page doesn't exist. Please try some different location.</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        </div>
    {% endblock %}
</body>
</html>