<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PotroLipi</title>
</head>
<body>
    {% extends "layout.html" %}
    {% block content %}
        <div class="mainpage">
            <h2>Something Went Wrong! (500)</h2>
            <p style="text-align: center;">We are facing some issue at our end. Kindly try after sometime.</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    {% endblock %}
</body>
</html>