<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename = "style.css")}}"> -->
    <title>SeaStar Hotel</title>
</head>
<body>
    {% extends "layout.html" %}

    {% block content %}
    <div class="mainbody">
        <h2>About SeaStar Hotels...</h2><br>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Sed tenetur laborum, eaque fugit inventore tempore nobis
            dolorum ex doloribus voluptatem, nesciunt molestiae laudantium
            usto. Iste a praesentium eligendi delectus molestiae? Lorem
            ipsum dolor sit amet consectetur, adipisicing elit. Eaque
            consequuntur natus corporis similique harum. Fugiat aut suscipit
            autem nostrum provident minus quas, velit, cupiditate, commodi
            rerum asperiores sequi nesciunt magni? </p>
    </div>  
    {% endblock %}
</body>
</html>